extends navbar

block content
  form(method="POST")
        p Name:
              input(type="text",class="form-control",name="name")
        p Email:
              input(type="text",class="form-control",name="email")
        p Medicine:
              input(type="text",class="form-control",name="medicine")
        p Time:
              input(type="text",class="form-control",name="time")
        p Address:
              input(type="text",class="form-control",name="address")
        p Mobile No.:
              input(type="text",class="form-control",name="mobile")
        p Doctor Precription:
              input(type="text",class="form-control",name="doctor")
        p: button(type="submit",class="btn btn-default") Add


        if posts.length > 0
            ul
              each person in posts
                 li
                     h2=person.name +"(" + person.medicine +")"+ "{\t" + person.time +"}"
                     p
                        a(href="/update/#{person._id}")
                             input(type="button",value="update",class="btn btn-default")
                        a(href="/delete/#{person._id}")
                             input(type="button",value="delete",class="btn btn-default")
        else
           p  No data
