<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<% include navbar.ejs %>
<!--  ############################# End of Header ###########################################-->
<!-- Home page info : about us -->
<br><br>

<div class="w3-container">
<div class="well"><h1 align="center">Welcome Our Medical Site</h1></div>

</div>
<br><br>

<div class="w3-row w3-border">
<div class=" w3-container w3-light-grey w3-padding">
  <h2 class="headd" style="font-size:200%;padding-left:40%;">Information</h2><br>
  <ul class="data" style="font-size:150%;">
  <li>Our project aims to develop a smart medicine dispenser which will notify the patient when they have to take the medicine. In addition to that the device will not permit the patient to take the medicine twice which happens quite a lot with many.</li>
  <li>If the person forgot to take the medicine on time then a message as well as email will be sent to him/her.</li>
  <li>Any one can order this product through our website.</li>
  <li>We are going to ship it directly to them.</li>
</ul>
</p>

</div>
</div>
<br><br>


</body>
</html>
