
<nav class="navbar navbar-inverse">
  <div class="container-fluid"><a href="info" class="navbar-brand">Home</a><a href="Order" class="navbar-brand navbar-right">Order</a></div>
</nav>
<div class="added"></div>
